*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	width: 1140px;
	margin: 30px auto 0 auto;
	position: relative;
	font-family: Times New Roman;
}

h1, h2{
	margin-bottom: 30px;
    

}

h1{
	text-align: center;
	background-color: black;
	color: white;
	padding: 20px;
	font-size: 50px;
}

h2{
	margin-top: 50px;
    font-weight: 320;
}

.main-text{
	float: left;
	margin: 0 auto;
	width: 70%;
	padding-right: 60px;
}

.other-text{
	float: left;
	width: 30%;
	margin-top: 300px;
}

.author-text img{
	width: auto;
	height: 100px;
	margin-top: 20px;
    float: left;
}

.author-text{
    border-top: 5px solid #333
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.text-3 p{
    margin-bottom: 50px;
    
}

.main-text, .other-text{
    font-family: sans-serif;
    font-weight: 300;
}

.author-text p {
    float: left;
    margin-top: 67px;
    margin-left: 17px;
    font-weight: 300;
}
