*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

h1{
  color: gray;
  font-size: 20px;
  font-weight: 300;
}

.main p {
  color: orange;
  font-size: 30px;
  font-family: Times New Roman;
  margin-top: 40px;
  
}
